footer {
  width: 100%;
  height: 75px;
  background-color: var(--footer);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.leftSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
.leftSection a, .middleSection a {
  text-decoration: none;
}
.footer-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}
.footer-icon:hover {
  transform: scale(1.3);
}
.middleSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-logo {
  width: auto;
  height: 60px;
}
.rightSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  font-size: 12px;
}
.rightSection a{
  color: var(--logo);
  text-decoration: none;
}
.rightSection a:hover{
  text-decoration: underline;
}
.rightSection p{
  color: var(--logo);
}
